<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>登录<input type="text" id="nick"><button onclick="login()">登录</button></p>
    <p>给<input type="text" id="to_user"></p>
    <p>发送消息:<input type="text" id="message"><button onclick="send_msg()">发送</button></p>
    <div id="message_list" style="width: 500px">

    </div>
</body>
<script type="text/javascript">
    var ws = null;

    function send_msg() {
        var msg = document.getElementById("message").value;
        var to_user = document.getElementById("to_user").value;
        var nick = document.getElementById("nick").value;
        var msg_obj = {
            to_user:to_user,
            from_user:nick,
            msg:msg
        };
        var msg_json = JSON.stringify(msg_obj);
        ws.send(msg_json);
    };

    function login() {
        var nick = document.getElementById("nick").value;
        ws = new WebSocket("ws://192.168.15.58:9527/ws/"+nick);
        ws.onmessage = function (event) {
            console.log(event.data);
            data_obj = JSON.parse(event.data);
            var ptag = document.createElement("p");
            ptag.innerText = data_obj.from_user + " : " + data_obj.msg;
            var divtag = document.getElementById("message_list");
            divtag.appendChild(ptag);
        };
    }


</script>
</html>